# Виртуальное окружение
venv/
env/
.env

# Локальная база данных (не стоит заливать в гит)
db.sqlite3
db.sqlite3-journal

# Python кэш и компилированные файлы
__pycache__/
*.py[cod]
*$py.class
# Файлы операционных систем и IDE
.DS_Store
.idea/
.vscode/

# Логи и временные файлы скрапинга (если пишете их в файлы)
*.log
*.csv
*.json